* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    margin: 0 10px;
    height: 48px;
}

body {
    background-image: url(../images/falltracksbg.jpg);
    
    background-position: -100px 50%;
    background-size: auto;
    height: auto;
}

.h1, h1 {
    line-height: 5px;
    color: white;
    float: left;
    margin-left: 58px;
    font-size: 2rem;
    text-shadow: grey 0.3em 0.3em 0.3em;
}

.jumbotron {
    padding: 6rem 0;
    background-image: url(../images/bullet.jpg);
    background-position: 0px 69%;
    background-repeat: no-repeat;
    max-width: 1000px;
    align-content: center;
    opacity: .8;
    filter:alpha(opacity=80);
}
.table {
    background: rgba(255,255,255,0.3);
}

table {
    margin: 0 20px;
    padding-right: 5px;
}

.table {
    width: 95%;
}

form {
    margin: 0 30px;
    border: solid 1px black;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: lightslategrey;
    background:rgba(255,255,255,0.3);
    color: #fff;
}

label {
    margin-left: 10px;
    font-weight: bold; 
}

input {
    margin-left: 10px;
}
.form-control {
    width: 95%;
}

button {
    margin-left: 10px;
    margin-bottom: 10px;
    
}

#formhead {
    margin-top: 5px;
    
}
